body{
    background-color: rgb(59, 136, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
input{
    font-size: 10em;
    text-align: center;
    width: 200px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.error{
    background-color: #a01c1c;
    border: 2px solid #a01c1c;
}
.fa-check-circle{
    font-size: 10em;
    color: #fff;
    display: none;
}